<!DOCTYPE html>
<html lang="en" ng-app="notflix">
<head>
	<meta charset="UTF-8">
	<title>Notflix</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/cyborg/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="icon" href="favicon.png">
</head>
<body>
	

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="notflix.png" alt="Title image" />	</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Nickname" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>



	<div class="container-fluid" ng-controller="movieCtrl">
	<div class="movies">
		<!-- <div class="row"  ng-repeat="i in columns track by $index"> -->
			<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 movie" ng-repeat="movie in movies" data-imdb_id="{{movie.imdbId}}"  hover>
				<img alt="image {{movie.titel}}" class="img-responsive"/>
				<div class="info" style="display:none">
					<h2>{{movie.titel}}</h2>
					<p>{{movie.datum}} {{movie.regisseur}} {{movie.lengte}}m</p>
					<p>{{movie.beschrijving}}</p>
				</div>
			<!-- </div>		  -->
		</div>
		</div>
		<hr>

		<footer>
			<p>&copy; Notflix 2015</p>
		</footer>
	</div> <!-- /container -->

	<!-- onderaan de pagina geplaatst zodat de pagina sneller laad -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</body>
</html>


<script type="text/javascript">
	var domain = "http://localhost:8080";
	var rootUrl = domain+"/NotFlix/api/";

	var app = angular.module('notflix', []);

	var config = {headers:  {
		'Accept': 'application/json',
	}
};


app.controller('movieCtrl', function ($scope, $http) {
	$http.get(rootUrl+"movies",config)
	.success(function (response) {
		$scope.movies = response;
		$scope.columns = new Array(Math.ceil(response.length/4));	
		$scope.amountOfColumns = 6;
		for (var i = 0; i < response.length; i++) {
			getPoster(response[i].imdbId);
		};


		console.log(response);
		getPoster();


	});
});

app.directive('hover', function(){

	return function(scope, element, attrs){

		element.hover( function (e) {
			e.stopPropagation();
			$(this).find(".info").fadeIn("slow");

		},function(e){
			e.stopPropagation();
			$(".info").fadeOut("slow",function(){
				$(this).stop();
			});
		});

	};

});


app.filter('slice', function() {
	return function(arr, start, end) {
		return arr.slice(start, end);
	};
});

function getPoster(imdbId){
	$.ajax({
		url:"http://www.omdbapi.com/?i="+imdbId+"&plot=short&r=json",
		success:function(data){
			$("[data-imdb_id="+imdbId+"] img").attr("src",data.Poster)
		}
	});
}

$(function(){
	$(window).on(".movie","hover",function(){
		console.log("hover");
		$(this).animate({
			width: "+=50",
			height: "+=50"
		},1000); 
	});
});
</script>